.header {
  background: green;
  grid-area: h;
}
.header img {
  height: 90px;
  border-radius: 50%;
  background: rgb(146, 50, 130);
  margin: 5px;
}
.loginBlock {
  float: right;
  margin: 15px;
}
.loginBlock a {
  color: white;
}
